#demosites.conversionsupport.com displaying site under their URL via reverse proxy without permission or attribution. No frames to bust out of, so hoping I can block them as a referrer
RewriteEngine on
# Options +FollowSymlinks
RewriteCond %{HTTP_REFERER} ^http://(demosites\.)conversionsupport\.com [NC]
RewriteRule .* - [F]
#Also stopping hotlinking, which may help since the violators don't show up as referrers in analytics
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www\.)?shakespeare-monologues.org/.*$ [NC]
RewriteRule \.(htm|html|gif|png|jpg|js|css)$ - [F]