<p>&nbsp;</p>
<br/>
<p>&nbsp;</p>
<p>&nbsp;</p>

<a id="everbutton-693-1398040059-85" class="everbutton everbutton-693-1398040059-85 everbutton-blue" href="https://www.everbutton.com/donate/693">Donate</a>
<div><script type="text/javascript">
var EB = EB || {};
EB.button_stack = EB.button_stack || [];
EB.button_stack.push( {
anchor_id: "everbutton-693-1398040059-85",
button_id: 693,
button_type: "donate",
button_options: {
donor_chooses: false,
allow_cover_fee: false,
enable_recurring: false,
allow_anonymous: true,
reference_id: "",
redirect_uri: ""
}
});
if (!EB.script) {
EB.script = document.createElement('script');
EB.script.type = 'text/javascript';
EB.script.async = true;
EB.script.src = 'https://www.everbutton.com/assets/everbutton.v1.js?button_id=693';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(EB.script, s);
} else if (EB.load_buttons) {
EB.load_buttons();
}
</script></div>
<br/>
<!-- AddThis Button BEGIN -->
<style>
        div.addthis_toolbox {
        width: 85px;
        margin: 0 auto;
}
</style>
<div class="addthis_toolbox addthis_default_style addthis_16x16_style">
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_google_plusone_share"></a>
<a class="addthis_button_compact"></a>
</div>
<script type="text/javascript">
var addthis_share = {
      url_transforms : {
          shorten: {
               twitter: 'bitly',
               facebook: 'bitly'
          }
     }, 
     shorteners : {
          bitly : {} 
     }
}
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-532e2d3068288ec1"></script>
<!-- AddThis Button END -->

<div style="text-align:center">
<span class="small">
<br>
<font face="verdana" size="-2">
<a href="https://www.facebook.com/ShakespearesMonologues" target="_blank">FB</a>&nbsp;&nbsp;
<a href="https://plus.google.com/106045313819632308693" rel="publisher" target="_blank">G+</a>&nbsp;&nbsp;
<a HREF="http://twitter.com/ShakesMonos" target="_blank">Twitter</a>
<br><br>
<a href="https://www.tryinteract.com/quiz/shakesmonos/1">Quiz</a>
<br><br>
<a href="http://market.android.com/details?id=appinventor.ai_stevenshults.ShakespearesMonologues" target="_blank">Android App</a><br><br>
<a href="https://chrome.google.com/webstore/detail/ejfdmafokffchogjkmfjdhalghlfemno" target="_blank">As Chrome App</a><br>
</font>
</span>
</div>
<br>
<hr size="1" width="75" noshade>
